.container {
  background-color: rgba(43, 109, 250, 0.836);
  border-bottom-right-radius: 50%;
  position: absolute;
  height: 170px;
  top: 0px;
  z-index: 0;
}
.main-title {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 30px;
  z-index: 0;
}
.subtitle {
  font-weight: 50;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 90px;
  z-index: 0;
}
.plus {
  position: absolute;
  top: 175px;
  width: 40px;
  height: 40px;
  left: 10px;
}
.add-text {
  position: absolute;
  top: 180px;
  left: 60px;
  color: rgba(43, 109, 250, 0.836);
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 20px;
}
input[type="text"] {
  position: absolute;
  left: 40px;
  top: 200px;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(43, 109, 250, 0.836);
  font-size: 20px;
}
.content-done {
  position: absolute;
  top: 180px;
  left: 90px;
  color: rgba(43, 109, 250, 0.836);
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}

.back-container {
  border: rgba(43, 109, 250, 0.836);
  width: 375px;
  height: 50px;
  padding: 20px;
  background-color: rgba(43, 109, 250, 0.836);
  position: absolute;
  top: 0px;
  z-index: 1;
}
.back-arrow {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 10px;
  top: 4px;
}
ul {
  list-style: none;
}

ul .action-item:before {
  content: "\2022";
  color: rgb(13, 180, 13);
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 20px;
}
.done {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 470px;
  left: 160px;
}
.tab-list {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: grey;
  font-size: 25px;
  position: relative;
  top: 230px;
  left: 17px;
}
.newtask-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
}
.checked-container {
  text-decoration: line-through;
}
.content {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: black;
  font-size: 25px;
  position: relative;
  top: 203px;
  left: 10px;
  border: white;
  box-shadow: 2px 2px 2px #aaaaaa;
  width: 365px;
  height: 40px;
  z-index: 0;
}
.checked {
  z-index: 1;
  top: 240px;
  position: relative;
  left: 340px;
  width: 22px;
  height: 22px;
}
.do {
  z-index: 1;
  top: 240px;
  position: relative;
  left: 340px;
  width: 22px;
  height: 22px;
}

@media only screen and (min-width: 600px) {
  .container {
    background-color: rgba(43, 109, 250, 0.836);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    height: 210px;
    top: 0px;
    width: 1200px;
    left: 100px;
  }
  .main-title {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 450px;
  }
  .subtitle {
    font-weight: 50;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: normal;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 110px;
    left: 450px;
  }
  .plus {
    position: absolute;
    top: 226px;
    width: 50px;
    height: 50px;
    left: 540px;
  }
  .add-text {
    position: absolute;
    top: 226px;
    left: 70px;
    color: rgba(43, 109, 250, 0.836);
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 30px;
    left: 590px;
  }
  input[type="text"] {
    position: absolute;
    left: 500px;
    top: 160px;
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(43, 109, 250, 0.836);
  }

  .content-done {
    position: absolute;
    top: 130px;
    left: 550px;
    color: rgba(43, 109, 250, 0.836);
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }
  .back-container {
    border: rgba(43, 109, 250, 0.836);
    width: 1400px;
    height: 80px;
    padding: 20px;
    background-color: rgba(43, 109, 250, 0.836);
    position: absolute;
    top: 0px;
  }
  .back-arrow {
    position: absolute;
    width: 90px;
    height: 70px;
    left: 0px;
    top: 3px;
  }
  ul {
    list-style: none;
  }

  ul .action-item:before {
    content: "\2022";
    color: rgb(13, 180, 13);
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  .done {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 470px;
    left: 625px;
  }
  .tab-list {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    color: grey;
    font-size: 30px;
    position: relative;
    top: 285px;
    right: 40px;
    left: 480px;
  }
  .content {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    color: black;
    font-size: 25px;
    position: relative;
    top: 260px;
    left: 450px;
    border: white;
    box-shadow: 2px 2px 2px #aaaaaa;
    width: 435px;
    height: 40px;
  }

  .do {
    z-index: 1;
    top: 300px;
    position: relative;
    left: 845px;
    width: 26px;
    height: 26px;
  }
  .checked {
    z-index: 1;
    top: 300px;
    position: relative;
    left: 845px;
    width: 26px;
    height: 26px;
  }
}
